<p> Project Author: Smolin Arthur </p>
<p>TestGuru project on <a href='https://github.com/drujok/Rails'>GitHub</a></p>
<p>About: Проект TestGuru это замечательная образовательная платформа<br>
  для создания и прохождения тестов по различным темам.<br>
Разработка проекта ведется на Ruby on Rails.</p>
<p>"Учебный проект в онлайн-школе <a href='thinknetica.com'>Thinknetica</a>"</p>

<%= Date.today.year %>
