<p>Author github: Smolin Arthur "<%= github_url('drujok')%>"</p>
  <p>Project github: <%= github_url('drujok','Rails')%></p>
<p>About: Проект TestGuru это замечательная образовательная платформа<br>
  для создания и прохождения тестов по различным темам.<br>
Разработка проекта ведется на Ruby on Rails.</p>
<p><%= thinknetica_link %></p>

<%= today %>
